{% extends "slug_trade_app/base.html" %}

{% block nav_block %}
    {% include "slug_trade_app/header-footer/navigation-basic.html" %}
{% endblock %}

{% block body_block %}

<div class="login-wrapper">
  <div class="login-body">

    <div class="login-title">Login</div>
    <div class="login-subtitle">Welcome back, let's find something you need.</div>

    <form method="post">
      {% csrf_token %}
      <div class="login-inputs-conatiner">
        <strong> login: admin | password: pass1234</strong>
        {{form.username}}
        {{form.username.errors}}
        {{form.password}}
        {{form.password.errors}}
        {% if form.errors %}
            <p>
                Wrong username or password. Try again.
            </p>
        {% endif %}
      </div>

      <div class="login-submit-wrapper">
        <button id="login_submit" type="submit">Login</button>
      </div>

      <div class="already-member-wrapper">
        Haven't signed up? &nbsp; <a href="{% url 'slug_trade_app:signup' %}">Click Here</a>
      </div>

    </form>
  </div>
</div>
{% endblock %}

{% block footer_block %}{% endblock %}
