{% load staticfiles %}

<div class="nav-wrapper">

    <div class="nav-logo">
      <a href="{% url 'slug_trade_app:index' %}">
        <img src="{% static 'images/logo_long.png' %}" alt="Slug Trade Logo" width="350">
      </a>
    </div>

    <div class="nav-links-wrapper">
      <button class="nav-link-button" onclick="navRedirect('/products/')">Products</button>
      <button class="nav-link-button" onclick="scrollToElement('steps-anchor')">How It Works</button>
      <div class="nav-drop">
        {% if request.path != "/login/" %}
          {% if user.is_authenticated %}
            <div id="links_drop" class="nav-link links-drop">Welcome, {{ user.first_name }}!</div>
          {% else %}
            <button class="nav-link-button" id="login" onclick="navRedirect('/login/')">Login</button>
            <button class="nav-link-button" onclick="navRedirect('/signup/')">Sign Up</button>
          {% endif %}
        {% endif %}
      </div>
    </div>
</div>

<div class="links-box-wrapper">
  <div class="links-box-body">
    <button class="links-box-link-button" onclick="navRedirect('/profile/')">Profile</button>
    <button class="links-box-link-button" onclick="navRedirect('/edit_profile/')">Edit Profile</button>
    <button class="links-box-link-button" onclick="navRedirect('/logout/')">Log Out</button>
  </div>
</div>
