{% load staticfiles %}

<div class="nav-wrapper">

    <div class="nav-logo">
      <a href="{% url 'slug_trade_app:index' %}">
        <img src="{% static 'images/logo_long.png' %}" alt="Slug Trade Logo" width="350">
      </a>
    </div>

    <div class="nav-links-wrapper">
      <div class="nav-link"><a href="{% url 'slug_trade_app:products' %}">Products</a></div>
      <div class="nav-drop">
        {% if request.path != "/login/" %}
          {% if user.is_authenticated %}
            <div class="nav-link links-drop">Welcome, {{ user.first_name }}!</div>
          {% else %}
            <div class="nav-link"><a href="/login/">Login</a></div>
            <div class="nav-link"><a href="/signup/">Sign Up</a></div>
          {% endif %}
        {% endif %}
      </div>
    </div>
</div>

<div class="links-box-wrapper">
  <div class="links-box-body">
    <div class="links-box-link add-border-top">
      <a href="{% url 'slug_trade_app:profile' %}">Profile</a>
    </div>
    <div class="links-box-link add-border-top">
      <a href="/my_received_offers">Offers</a>
    </div>
    <div class="links-box-link add-border-top">
      <a href="{% url 'slug_trade_app:logout' %}">Log Out</a>
    </div>
  </div>
</div>
