{% extends "slug_trade_app/base.html" %}
{% load staticfiles %}

<title>Products</title>

{% block nav_block %}
  {% include "slug_trade_app/header-footer/navigation.html" %}
{% endblock %}

{% block body_block %}

<div class="products-wrapper">

  <div class="products-categories-wrapper">

    <div class="products-categories-title">Filters</div>

    <div class="products-categories-subtitle">Type</div>

    <form class="products-filter-container" method="get">
      <div class="products-filter">
        <input type="checkbox" name="vehicle" value="Bike"checked="checked"> <span>Cash</span>
      </div>
      <div class="products-filter">
        <input type="checkbox" name="vehicle" value="Bike"checked="checked"> <span>Trades</span>
      </div>
      <div class="products-filter">
        <input type="checkbox" name="vehicle" value="Bike"checked="checked"> <span>Free</span>
      </div>
    </form>

    <div class="products-categories-subtitle">Category</div>

    <form class="products-filter-container" method="post">
      {% csrf_token %}
      {% for category in categories %}
        <div class="products-filter">
          <input type="checkbox" name="categories" value="{{category.value}}" checked="checked"> <span>{{category.name}}</span>
        </div>
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>
  <div class="products-list-wrapper">

    <div class="pagination-title-wrapper">
      <div class="products-categories-title">Products</div>
      {% if items.has_other_pages %}
      <ul class="pagination">
        {% if items.has_previous %}
        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %} {% for i in items.paginator.page_range %} {% if items.number == i %}
        <li class="active"><span>{{ i }}</span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %} {% endfor %} {% if items.has_next %}
        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>

    <div class="products-list-container">
      {% for item in items %}
      <div class="products-item-wrapper">
        <div class="item-image-wrapper">
          <img src="{{item.image1.url}}" width="300" alt="">
        </div>
        <div class="item-seller-wrapper">
          <div class="seller-title">SOLD BY: &nbsp;</div>
          <div class="seller-name">{{item.item.user.first_name | title}}</div>
        </div>
        <div class="item-title">{{item.item.name|title}}</div>
        <div class="item-price-wrapper">

          <div class="item-type-title">{{item.item.get_trade_options_display}}</div>

          {% if item.item.get_trade_options_display == "Cash Only" %}
            <div class="item-type-price">${{item.item.price}}</div>
          {% elif item.item.get_trade_options_display == "Trade only" %}
            <div class="item-type-price">Make an offer</div>
          {% elif item.item.get_trade_options_display == "Cash with items on top" %}
            <div class="item-type-price">REMOVE</div>
          {% endif %}

        </div>
      </div>

      {% endfor %}
    </div>

    {% if items.has_other_pages %}
    <ul class="pagination">
      {% if items.has_previous %}
      <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="disabled"><span>&laquo;</span></li>
      {% endif %} {% for i in items.paginator.page_range %} {% if items.number == i %}
      <li class="active"><span>{{ i }}</span></li>
      {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %} {% endfor %} {% if items.has_next %}
      <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block footer_block %}
  {% include "slug_trade_app/header-footer/footer.html" %}
{% endblock %}
