{% extends "slug_trade_app/base.html" %}
{% load staticfiles %}

{% block nav_block %}
    {% include "slug_trade_app/header-footer/navigation.html" %}
{% endblock %}

<title>Products</title>

{% block body_block %}
<h1>{{user.first_name}}'s Profile</h1>
<p>Welcome back!</p>

{% if user.userprofile.profile_picture %}
<h4>Current Photo:</h4>
<p>
<!--URL is: {{ user.userprofile.profile_picture.url }}-->
</p><img src="{{user.userprofile.profile_picture.url}}" width="240">
{% endif %}

<p>It looks like you live {{user.userprofile.on_off_campus}} campus</p>

<h4>This is your public bio:</h4>
<p>{{user.userprofile.bio}}</p><br><br>


{% if not public %}
<a href="/edit_profile/">Edit Profile</a><br>
<a href="/add_closet_item/">Add Item to Closet</a>
{% endif %}
<h2>Closet Items</h2>

<div class="closet-item-container">

  <table>
    {% if item_data %}
    <thread>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
    </thread>

    {% for item, images in item_data %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      {% for image in images %}
      <td><img src="{{image}}" width="240" alt=""></td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
  {% else%}
  <p>NO ITEMS FOUND</p>
  {% endif %}

</div>
{% endblock %}

{% block footer_block %}
  {% include "slug_trade_app/header-footer/footer.html" %}
{% endblock %}
