<!DOCTYPE html>
{% extends "slug_trade_app/base.html" %}
{% load staticfiles %}

<title>Products</title>

{% block body_block %}
<h1>{{user.first_name}}'s Profile</h1>
<p>Welcome back!</p>

{% if user.userprofile.profile_picture %}
<h4>Current Photo:</h4>
<p>
URL is: {{ user.userprofile.profile_picture.url }}
</p><img src="{{user.userprofile.profile_picture.url}}" width="240">
{% endif %}

<p>It looks like you live {{user.userprofile.on_off_campus}} campus</p>

<h4>This is your public bio:</h4>
<p>{{user.userprofile.bio}}</p><br><br>

<a href="/edit_profile/">Edit Profile</a><br>
<a href="/add_closet_item/">Add Item to Closet</a>
{% endblock %}
