{% extends "slug_trade_app/base.html" %}

<title>Sign Up</title>

{% block body_block %}

  <div class="" style="padding: 40px 0;">
      <a href="{% url 'slug_trade_app:index' %}">Home</a>
  </div>

  {% if registered %}
    <h1>Thank you for registering!</h1>
  {% else %}
    <h2>Sign Up</h2>
    <form method="post" enctype="multipart/form-data" >
      {% csrf_token %}
      {{ user_form.username }}
      {{ user_form.first_name }}
      {{ user_form.first_name.errors }}
      {{ user_form.last_name }}
      {{ user_form.last_name.errors }}
      {{ user_form.email }}
      {{ user_form.email.errors }}
      {{ user_form.password1 }}
      {{ user_form.password1.errors }}
      {{ user_form.password2 }}
      {{ user_form.password2.errors }}<br>

      <img id="signup_img" src="" width="240"><br>

      {{ profile_form.as_p }}


      <input type="submit" name="" value="Sign Up">
    </form>
  {% endif %}

{% endblock %}
