
.top-padding-100 {
  margin-top: 100px;
}

.top-padding-200 {
  margin-top: 200px;
}

.top-padding-300 {
  margin-top: 300px;
}

#username {
  display: none;
}

body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Questrial', sans-serif;
}

footer {
  width: 100%;
}

.products-container {
  display: flex;
  flex-direction: column;
}

#toggle-button {
  max-width: 200px;
  padding: 20px 40px;
  border: 1px solid #2B2B2B;
  border-radius: 5px;
  background: #fff;
  color: #2B2B2B;
  cursor: pointer;
}

#toggle-button:hover {
  background: #2B2B2B;
  color: #fff;
}

.pop-img {
  display: none;
}

.active {
  color: #F2CE60;
}

.pagination li {
  display: inline-block;
  padding: 10px;
}

.pagination li:hover {
  cursor: pointer;
}


/******** Nav ********/
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #fff;
  padding: 0 15px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-links-wrapper {
  display: flex;
  flex-direction: row;
  height: 85px;
}

.nav-link-button, .nav-link {
  padding:20px;
  color: #333;
  display: flex;
  align-items: center;
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
}

.nav-link-button:hover {
  background-color: #fff3ce;
  border-bottom: 2px solid #333;
  cursor: pointer;
}

.nav-link-button:focus {
  outline:0;
}

.nav-drop {
  display: flex;
  flex-direction: row;
}


.nav-logo {
  padding: 10px;
}

.links-drop:hover {
  background-color: #fff3ce;
  border-bottom: 2px solid #333;
  cursor: pointer;
}

.links-box-wrapper {
  display: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

.links-box-body {
  width: 100%;
  max-width: 300px;
  background: #fff;
  z-index: 9999999;
  position: absolute;
  top: 85px;
  border-bottom: 1px solid #dddddd;
}

.links-box-link-button {
  padding: 30px 0px;
  width: 100%;
  text-align: left;
  padding-left: 30px;
  background-color: inherit;
  border: none;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  font-size: inherit;
  font-family: inherit;
}

.links-box-link-button:hover {
  background-color: #fff3ce;
  border-top: 2px solid #333;
  cursor: pointer;
}

.links-box-link-button:focus {
  outline:0;
}

.add-border-top {
  border-top: 1px solid #d6d6d6;
}

/*********  Footer  *************/
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  color: #fff;
  /* position:absolute;
  bottom:0;
  width:100%; */
}

.footer-body {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-link {
  padding: 20px 35px;
  font-size: 12px;
}

.footer-link a {
  color: #fff;
  text-decoration: none;
}

/********** Homepage ************/
.hero-wrapper {
  width: 100%;
  background-color: #000;
}

.hero-wrapper-body {
  height: 700px;
  background-size: cover;
  background-image: url("../../static/images/hero_background.jpg");
}

.categories-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.categories-body {
  padding: 40px;
  background-color: rgba(255,255,255,0.97);
  border-radius: 5px;
  color: #333;
  width: 700px;
}

.categories-body-title strong {
    font-size: 25px;
        margin-left: 60px;
}

.categories-title {
  font-family: 'Archivo Black', sans-serif;
  color: #fff;
  font-size: 45px;
  max-width: 765px;
  margin-top: -200px;
  margin-bottom: 30px;
}

.dropdown-lists-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px 0;
}

input[type=submit], #home-filter {
    border-radius: 5px;
    font-weight: 900;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    height: 50px;
    margin-top: 21px;
    margin-left: 5px;
    width: 150px;
    border: none;
}

input[type=submit]:hover {
  background-color: #F2CE60;
  color: #fff;
}

.drop-wrapper select, #products-filter-select {
  padding-left: 10px;
  border: 1px solid #d6d6d6;
  background: #fff;
  font-size: 16px;
  margin: 5px 0;
  width: 200px;
  height: 50px;
}

.categories-body-title {
  margin-bottom: 10px;
}

.category-title {
  font-size: 14px;
}

#drop-wrapper-left {
  margin-right: 5px
}

#drop-wrapper-right {
  margin: 0 5px;
}

.angle-box {
  background-color: #fff;
  margin-top: -150px;
  padding: 5% 20px; /* Added a percentage value for top/bottom padding to keep the wrapper inside of the parent */
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transform: skewY(6deg);
  -moz-transform: skewY(6deg);
  -ms-transform: skewY(6deg);
  -o-transform: skewY(6deg);
  transform: skewY(6deg);
}

.angle-box > .angle-wrapper {
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
  transform: skewY(-6deg);
}

.items-preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.items-preview-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

.items-preview-subtitle {
  text-align: center;
}

.items-horizontal-wrapper {
  padding: 40px 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.items-horizontal-body {
  width: 100%;
  max-width: 800px;
}

.item-wrapper {
  width: 300px;
  margin: 10px;
}

.item-title {
  color: #333;
}

.item-image-wrapper {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item-image-wrapper img:hover, .item-title:hover {
  cursor: pointer;
}

.item-price-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 8px 0;
  color: #777;
}

.item-type-price {
  font-size: 14px;
}

.item-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
}

.item-seller-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 8px 0;
  color: #777;
  font-size: 12px;
}

.seller-title {
  font-weight: 500;
  color: #333;
}

.seller-name a {
  font-weight: 100;
  color: #F2CE60;
}

.seller-name a:hover {
  color: #e2c158;
}

.seller-price {
  font-weight: 100;
}

.go-to-category-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.go-to-category-wrapper a {
  text-decoration: none;
  color: #fff;
}

.go-to-category-button {
  padding: 20px 40px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  font-weight: 900;
}

.go-to-category-button:hover {
  cursor: pointer;
  background: #F2CE60;
  color: #fff;
}

/*Top Ad*/
.add-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 85px 0;
  width: 100%;
  background-size: cover;
  background-image: url("../../static/images/tile.jpg");
}

.add-wrapper-body {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin: 50px 0;
}

.ad-image {
  width: 300px;
  height: 360px;
  background-image: url("../../static/images/clothes.jpg");
  border-radius: 5px 0 0 5px;
}

.ad-text-wrapper {
  width: 600px;
  height: 281px;
  background: #fff;
  border-radius: 0 5px 5px 0;
  padding: 40px;
}

.ad-text-wrapper a {
  text-decoration: none;
  color: #fff;
}

.ad-text-wrapper p {
  line-height: 25px;
}

.ad-title-wrapper {
  display: flex;
  flex-direction: column;
}

.ad-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 40px;
  font-weight: 600;
}

.ad-subtitle {
  color: #333;
  font-size: 20px;
  margin-top: 5px;
}

.shop-button {
  padding: 20px 40px;
  background: #333;
  border-radius: 5px;
  font-weight: 900;
  text-align: center;
  max-width: 200px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}

.shop-button:hover {
  background: #F2CE60;
}

/*Bottom ad*/
.add-wrapper2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 85px 0;
  width: 100%;
  background-repeat: repeat;
  background-image: url("../../static/images/yellow_tile.jpg");
}

.add-wrapper-body2 {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  margin: 50px 0;
}

.ad-image2 {
  width: 300px;
  height: 360px;
  background-image: url("../../static/images/textbooks_ad.jpg");
  border-radius: 0 5px 5px 0;
}

.ad-text-wrapper2 {
  width: 600px;
  height: 281px;
  background: #fff;
  border-radius: 5px 0 0 5px;
  padding: 40px;
}

.ad-text-wrapper2 a {
  text-decoration: none;
  color: #fff;
}

.ad-text-wrapper2 p {
  line-height: 25px;
}

.ad-title-wrapper {
  display: flex;
  flex-direction: column;
}

.ad-title2 {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 40px;
  font-weight: 600;
}

.ad-subtitle2 {
  color: #333;
  font-size: 20px;
  margin-top: 5px;
}

.shop-button2 {
  padding: 20px 40px;
  background: #333;
  border-radius: 5px;
  font-weight: 900;
  text-align: center;
  max-width: 200px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}

.shop-button2:hover {
  background: #F2CE60;
}

/*Steps*/
.steps-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 125px 0;
}

.steps-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
}

.steps-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  margin: 0 20px;
}

.steps-item-title {
  font-weight: 700;
  font-size: 21px;
  margin: 10px 0;
  color: #333;
}

.steps-item-description {
  text-align: center;
  font-size: 19px;
  line-height: 26px;
  color: #333;
}

.steps-item-step {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

.categories-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 75px 0;
}

.categories-icons-title {
  text-align: left;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin: 20px 0;
}

.categories-icons-subtitle {
  text-align: left;
  margin: 20px 0;
}

.categories-tiles-wrapper {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
  text-align: center;
}

.categories-tiles-wrapper a {
  text-decoration: none;
  color: #fff;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.bikes-box {
  background-image: url("../../static/images/bike_category.jpg");
  background-size: cover;
}

.clothes-box {
  background-image: url("../../static/images/closet.jpg");
  background-size: cover;
}

.electronics-box {
  background-image: url("../../static/images/electronics.jpg");
  background-size: cover;
}

.textbooks-box {
  background-image: url("../../static/images/textbooks.jpg");
  background-size: cover;
}

.furniture-box {
  background-image: url("../../static/images/furniture.jpg");
  background-size: cover;
}

.toys-box {
  background-image: url("../../static/images/toys.jpg");
  background-size: cover;
}
.gaming-box {
  background-image: url("../../static/images/gaming.jpg");
  background-size: cover;
}
.household-box {
  background-image: url("../../static/images/household.jpg");
  background-size: cover;
}
.other-box {
  background-image: url("../../static/images/other.jpg");
  background-size: cover;
}
.movies-box {
  background-image: url("../../static/images/movies.jpg");
  background-size: cover;
}
.tools-box {
  background-image: url("../../static/images/tools.jpg");
  background-size: cover;
}
.outdoors-box {
  background-image: url("../../static/images/outdoors.jpg");
  background-size: cover;
}
.appliances-box {
  background-image: url("../../static/images/appliances.jpg");
  background-size: cover;
}
.music-box {
  background-image: url("../../static/images/music.jpg");
  background-size: cover;
}
.tickets-box {
  background-image: url("../../static/images/tickets.jpg");
  background-size: cover;
}
.office-box {
  background-image: url("../../static/images/office.jpg");
  background-size: cover;
}
.fitness-box {
  background-image: url("../../static/images/fitness.jpg");
  background-size: cover;
}
.instruments-box {
  background-image: url("../../static/images/instruments.jpg");
  background-size: cover;
}

.description-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 120px 20px;
  margin-bottom: 90px;
}

.description-body {
  width: 100%;
  max-width: 750px;
  align-items: center;
}

.description-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  color: #333;
}

.description-description {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

/*edit profile*/
.edit-profile-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-profile-body {
  padding: 30px;
  width: 100%;
  max-width: 700px;
  margin-bottom: 75px;
}

.edit-profile-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 40px;
  margin: 20px 0;
}

/********* Profile ************/
.profile-picture-wrapper {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-top: 20px;
}

.profile-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  width: 240px;
  height: auto;
}

.add-closet-wrapper-input {
    padding: 20px;
    font-size: 18px;
}

.profile-picture-wrapper img {
  height: 240px;
}

.edit-profile-wrapper input[type=file] {
  padding-top: 15px;
}

.edit-profile-image-upload {
  margin-left: 100px;
}

.basic-info-content-wrapper {
  display: flex;
  padding: 20px 0;
}

.basic-info-wrapper input[type=text] {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  background-color: white;
}

.basic-info-name {
  font-family: 'Archivo Black', sans-serif;
  font-size: 15px;
  color: #474747;
}

.bio-wrapper textarea {
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #d6d6d6;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 20px;
  font-size: inherit;
  font-family: inherit;
}

.location-wrapper {
  padding: 20px 0;
}

.location-content-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.location-wrapper select {
  padding-left: 10px;
  border: 1px solid #d6d6d6;
  background: #fff;
  font-size: 16px;
  margin: 5px 0;
  width: 200px;
  height: 50px;
}

.submit-wrapper-content {
  display: flex;
  justify-content: center;
}

.edit-profile-wrapper h3 {
  font-family: 'Archivo Black', sans-serif;
  color: #474747;
}

#id_on_off_campus {
    width: 100%;
}

.name-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#input-left {
  margin-right: 10px;
}

#input-right {
  margin-left: 10px;
}

#edit-profile-button {
  width: 100%;
}

/*edit profile*/

/*buffer*/
.buffer {
  height: 200px;
  z-index: 2;
}
/*buffer*/


/************ Signup ************/
.signup-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  /* background: linear-gradient(to bottom right, #fff581, #8DCCBA); */
  background-image: url("../../static/images/signup_background.jpg");
  background-size: cover;
}

.signup-form-body {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  background-color: rgba(255,255,255,0.989);
}

.signup-form-inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.signup-form-inputs-first-last {
  display: flex;
}

.signup_img {
  width: 100%;
}

.form-input {
  padding: 17px;
  font-size: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

#first-name, #id_password1 {
  width: 100%;
  margin-right: 10px;
}

#last-name, #id_password2 {
width: 100%;
margin-left: 10px;
}

#id_bio {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  height: 100px;
  font-family: inherit;
  font-size: inherit;
}

.signup-form-button-wrapper {
  display: flex;
  justify-content: center;
}

#signup-submit {
  margin: 0;
  width: 100%;
}

#id_profile_picture {
  margin: 10px 0;
}

#id_on_off_campus {
  height: 50px;
  margin: 20px 0;
  background: #fff;
  font-size: 15px;
  border: 1px solid #d6d6d6;
  color: #757575;
}

.signup-form-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

.signup-form-subtitle {
  text-align: center;
  margin-bottom: 15px;
}

.signup-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 10px 0;
  color: #333;
}

.signup-subtitle {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.signup-img-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.signup-img-body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.signup-img-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}

/******** Login *********/
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-image: url("../../static/images/signup_background.jpg");
  background-size: cover;
}

.login-body {
  width: 100%;
  max-width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
}

.login-inputs-conatiner {
  display: flex;
  flex-direction: column;
}

.login-submit-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#id_username, #id_password {
  padding: 17px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid #d6d6d6;
}

.login-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
  color: #333;
}

.login-subtitle {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.login-submit-wrapper button {
  border-radius: 5px;
  font-weight: 900;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  height: 50px;
  margin-top: 21px;
  margin-left: 5px;
  width: 100%;
  border: none;
}

.login-submit-wrapper button:hover {
  background-color: #F2CE60;
}

.already-member-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 13px;
}

.already-member-wrapper a {
  text-decoration: none;
  font-weight: 900;
  color: #F2CE60;
}

.already-member-wrapper a:hover {
  text-decoration: underline;
}


/******** Profile *********/

.profile-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profile-body{
  width: 100%;
  max-width: 650px;
  background: #fff;
  padding: 100px 60px;
  margin: 140px 0;
  padding-top: 0;
}

.closet-body {
  width: 100%;
  max-width: 650px;
  background: #fff;
  padding: 100px 60px;
}

.profile-info-wrapper{
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profile-info-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  overflow: hidden;
  width: 100%;
  min-width: 200px;
}

.profile-info-image-wrapper img {
  border-radius: 200px;
}

@media screen and (max-width: 1215px) {
  .profile-body {
    padding-top: 0;
  }
  .profile-info-wrapper {
    flex-direction: column;
  }
  .profile-info-image-wrapper {
    padding-bottom: 40px;
  }
}

.profile-info-content-wrapper {
  width: 100%;
  max-width: 400px;
  margin-left: 40px;
}

.profile-item-edit {
  display: flex;
  justify-content: space-between;
}

.profile-edit-profile-link {
  margin: 8px 0;
  font-size: 12px;
  color: tomato;
  text-decoration: none;
}

.profile-edit-profile-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profile-info-name-wrapper, .profile-info-location-wrapper, .profile-info-bio-wrapper{
  margin-bottom: 10px;

}

.profile-info-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
  color: #333;

}

.profile-info-name, .profile-info-location, .profile-info-bio {
  font-size: 19px;
  padding-bottom: 14px;
  color: #5d5d5d;
}

.profile-edit-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 900;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  height: 35px;
  width: 110px;
  border: 1px solid #333;
}

.profile-edit-link:hover {
  background: #333;
  color: #fff;

}

.wishlist-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.wishlist-wrapper h2 {
  margin: 0;
}

.wishlist-title-description {
  font-size: 17px;
  color: #5d5d5d;
  margin-bottom: 20px;
}

.wishlist-input-wrapper {
  display: flex;
}

.wishlist-input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

#wishlist-button {
  margin-top: 0;
}

.wishlist-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.wishlist-item-wrapper {
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid #d6d6d6;
  font-size: 19px;
  color: #333;
  justify-content: space-between;
}

#delete-x {
  color: tomato;
  background: white;
  border: none;
  font-size: 15px;
}

.profile-closet-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-closet-title-wrapper h2 {
  margin: 0;
}

.profile-closet-title-wrapper a {
  text-decoration: none;
}

.profile-add-item-link {
  font-weight: 900;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
  font-size: 14px;
}

.profile-add-item-link:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
}

.profile-item-wrapper {
  margin: 10px;
}

.profile-item-image-wrapper {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-item-image-wrapper img {
  width: 100%;
}

.profile-item-image-wrapper a {
  width: 100%;
}

.profile-item-image-wrapper:hover {
  cursor: pointer;
}

.closet-item-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr));
  width: 100%;
  margin-top: 10px;
}
/******** Add Closet Item *********/

.add-item-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 80px 40px;
}

.add-item-body {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

.add-item-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  color: #333;
  margin-bottom: 30px;
}

.add-item-subtitle {
  font-family: 'Archivo Black', sans-serif;
  font-size: 22px;
  color: #333;
  margin-bottom: 5px;
}

#id_name {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  font-size: 17px;
  color: #333;
}

.add-item-input-outer-wrapper {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.add-item-input-inner-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#id_price {
  padding: 15px;
  font-size: 17px;
  color: #333;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
}

#id_trade_options, #id_category, #id_condition {
  padding-left: 10px;
  font-size: 17px;
  color: #333;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  height: 55px;
  background: #fff;
}

#add-item-right {
  margin-left: 20px;
}

.add-item-single-input {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

#id_description {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}

/* Item Photos */
.add-closet-photos-wrapper{
  padding-top: 25px;
}

.add-closet-photos-inner-wrapper {
  padding-top: 20px;
  display:flex;
  flex-direction: row;
}

.add-closet-photos-inner-wrapper:after{
  content: '';
}

.add-item-picture-wrapper {
  margin:0 5px;
}

.add-item-picture-inner-wrapper {
  height: 130px;
  width: 130px;
  display: inline-block;
  position: relative;
}

.add-item-picture-wrapper .close:before {
  content: '✕';
}
.add-item-picture-wrapper .close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.add-item-picture-inner-wrapper img {
  max-height: 100%;
  max-width: 85%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.closet-image-field {
  display: none;
}

.add-closet-item-img {
  max-width: 90px;
  max-height: 90px;
}

#add_picture {
  cursor: pointer;
}

#add_picture:hover {
  opacity: 0.6;
}

#add-closet-submit {
  width: 100%;
}

.add-closet-item-choose-photo {
  display: block;
  margin: auto;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 900;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  height: 40px;
  width: 110px;
  border: 1px solid #333;
  position: relative;
  top: 115px;
}

.add-closet-item-choose-photo:hover{
  background: #333;
  color: #fff;
}

#add-closet-add-photo {
  position: relative;
  top: 105px;
  text-align: center;
}

.add-item-price {
  display: none;
}

.add-closet-remove-photo{
  color: red;
}

#picture_2, #picture_3, #picture_4, #picture_5 {
  display: none;
}

/******** Item Details Page ***********/

.item-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 150px 0;
}

.item-details-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
}

.item-details-item-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.item-details-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 40px;
  max-width: 630px;
}

.item-details-snag-item-button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.item-details-snag-item-button:hover {
  background: #F2CE60;
}

.item-details-price {
  font-size: 18px;
}

.item-details-carousel-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-details-carousel-wrapper img {
  width: 100%;
}

.item-details-addl-info-wrapper {
  width: 100%;
}

.item-details-name-category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  margin:10px 0;
}

.item-details-owner-name a, .item-details-category a {
  color: #777;
  text-decoration: none;
}

.item-details-owner-name a:hover, .item-details-category a:hover {
  color: #F2CE60;
}

.item-details-description-wrapper {
  width: 100%;
}

.item-details-description-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.item-details-container {
 display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-details-photo{
   margin: auto;
}
.item-details-wrapper {
   margin: auto;
  display:flex;
  flex-direction: column;
}

.item-details-text{
  margin: auto;
  margin-top: 15px;
}

item-details-image-row-wrapper{
  display:flex;
  flex-direction:column;
  margin: 15px;

}

.item-details-image-row-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-details-image-row-image{
  width:100px;
  margin: auto;

}

.item-details-inner-wrapper{

}


/****************** Transaction *******************/

.transaction-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}

.trasaction-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 650px;
}

.item-review-header-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  padding-bottom: 50px;
}

.item-review-subtitle {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.item-review-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.review-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.review-title span {
  text-align: left;
}

.item-review-info-wrapper {
  padding: 10px 0;
  margin-left: 20px;
  width: 100%;
}

.item-review-title span, .item-review-owner span, .item-review-price span {
  font-family: 'Archivo Black', sans-serif;
  font-size: 22px;
  padding: 5px 0;
  width: 175px;
}

.item-review-owner a {
  text-decoration: none;
  color: #333;
}

.item-review-owner a:hover {
  color: #F2CE60;
}

.item-review-form {
  width: 100%;
}

#id_offer_amount {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 20px 0 20px 25px;
  font-size: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 628px;
}

.test {
    position: relative;
    background-color: #dedede;
    display: inline;
}

.test:before {
    content: '$';
    position: absolute;
    margin-top: -4px;
    top: 0;
    left: 12px;
    z-index: 1;
    font-size: 20px;
}

#id_comment {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 20px 0 20px 25px;
  font-size: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 628px;
  margin-bottom: 40px;
}

.trade-offer-item-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 15px;
}

.trade-offer-item-container img {
  width: 175px;
  height: 175px;
}

.trade-offer-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 10px 0;
}

.trade-offer-item-wrapper label {
  font-size: 18px;
  font-weight: 900;
  padding: 0 14px;
  text-align: center;
}

.trade-offer-item-wrapper img {
  margin: 10px 0;
}

/************ item details slider **********/
.pgwSlider {
    width: 100%;
    color: #fff;
}

.pgwSlider a{
    display: block;
    text-decoration: none;
    color: #fff;
}

.pgwSlider .ps-current {
    float: left;
    width: 74%;
    overflow: hidden;
    height: inherit;
    position: relative;
    font-size: 1rem;
}

.pgwSlider.listOnTheLeft .ps-current {
    float: right;
}

.pgwSlider .ps-current ul {
    width: 100%;
}

.pgwSlider .ps-current li {
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: none;
}

.pgwSlider .ps-current img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-caption {
    position: absolute;
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    left: 0;
    bottom: 0;
    display: none;
    z-index: 3;
}

ul.pgwSlider,
.pgwSlider  ul {
    float: right;
    width: 25%;
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.pgwSlider.listOnTheLeft,
.pgwSlider.listOnTheLeft > ul {
    float: left;
}

ul.pgwSlider > li,
.pgwSlider > .ps-list > li {
    height: 50px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-size: 0.8rem;
    transition: opacity 200ms linear;
}

ul.pgwSlider > li:last-child,
.pgwSlider > ul > li:last-child {
    margin-bottom: 0;
}

ul.pgwSlider > li span,
.pgwSlider > .ps-list > li span {
    display: block;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.pgwSlider > li:hover,
.pgwSlider > ul > li:hover {
    opacity: 1 !important;
}

ul.pgwSlider > li img,
.pgwSlider > ul > li img {
    width: 100%;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-prevIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
}

.pgwSlider .ps-nextIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    display: block;
}

.pgwSlider .ps-current .ps-prev {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    padding: 20px 20px 20px 17px;
    left: 0;
    top: 45%;
    cursor: pointer;
}

.pgwSlider .ps-current .ps-next {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: absolute;
    padding: 20px 17px 20px 20px;
    right: 0;
    top: 45%;
    cursor: pointer;
}

/*
 * The media-queries are not used because IE8 doesn't support them.
 */
ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li {
    width: 100% !important;
}

.pgwSlider.narrow .ps-current {
    margin-bottom: 6px;
    font-size: 0.8rem;
}

.pgwSlider.narrow .ps-current img {
    width: 100%;
    min-height: inherit;
}

.pgwSlider.narrow .ps-current,
ul.pgwSlider.narrow,
.pgwSlider.narrow > ul {
    width: 100%;
}

ul.pgwSlider.narrow > li,
.pgwSlider.narrow > .ps-list > li {
    float: left;
    min-height: 50px;
    max-height: 70px;
    min-width: 15%;
    font-size: 0.7rem;
    margin-bottom: 0;
}

ul.pgwSlider.narrow.listOnTheLeft > li,
.pgwSlider.narrow.listOnTheLeft > ul > li {
    float: right;
}

.pgwSlider.narrow .ps-caption {
    padding: 8px;
}

.pgwSlider.narrow .ps-current .ps-prev {
    padding: 15px 15px 15px 12px;
    top: 40%;
}

.pgwSlider.narrow .ps-current .ps-next {
    padding: 15px 12px 15px 15px;
    top: 40%;
}

#delete-closet-item {
  border-radius: 5px;
  font-weight: 900;
  background-color: #c90202;
  color: #fff;
  font-size: 14px;
  height: 50px;
  margin-top: 21px;
  margin-left: 5px;
  width: 150px;
  border: none;
  width: 100%;
}

#delete-closet-item:hover {
    background-color: #F2CE60;
    color: #fff;
}


/******** Item Details Page ***********/

.item-details-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 150px 0;
}

.item-details-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
}

.item-details-item-info-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.item-details-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 40px;
  max-width: 630px;
}

.item-details-snag-item-button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.item-details-snag-item-button:hover {
  background: #F2CE60;
}

.item-details-price {
  font-size: 18px;
}

.item-details-carousel-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.item-details-carousel-wrapper img {
  width: 100%;
}

.item-details-addl-info-wrapper {
  width: 100%;
}

.item-details-name-category-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  margin:10px 0;
}

.item-details-owner-name a, .item-details-category a {
  color: #777;
  text-decoration: none;
}

.item-details-owner-name a:hover, .item-details-category a:hover {
  color: #F2CE60;
}

.item-details-description-wrapper {
  width: 100%;
}

.item-details-description-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.item-details-container {
 display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-details-photo{
   margin: auto;
}
.item-details-wrapper {
   margin: auto;
  display:flex;
  flex-direction: column;
}

.item-details-text{
  margin: auto;
  margin-top: 15px;
}

item-details-image-row-wrapper{
  display:flex;
  flex-direction:column;
  margin: 15px;

}

.item-details-image-row-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-details-image-row-image{
  width:100px;
  margin: auto;

}

.item-details-inner-wrapper{

}

/*********** products list *********/

.products-wrapper {
  display: flex;
}

.products-categories-wrapper {
  width: 250px;
  border-right: 1px solid #e6e6e6;
  padding: 20px;
}

.products-drop-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.products-categories-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}

.products-categories-subtitle {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
}



.products-list-wrapper {
  width: 100%;
  padding: 40px;
}

.products-filter-container {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.products-drop-wrapper {
    display: flex;
}

.products-drop-category {
  border: 1px solid #e6e6e6;
  background: #fff;
  height: 52px;
  font-size: 12px;
  width: 175px;
  margin-left: 20px;
}

#products-top-filter-button {
  margin: 0;
  width: 90px;
}

.products-filter {
  padding: 3px 0;
}

.products-filter span {
  color: #555;
}

.products-item-wrapper {
  width: 100%;
  max-width: 300px;
}

.products-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}

.item-seller-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 8px 0;
  color: #777;
  font-size: 12px;
}

.seller-title {
  font-weight: 500;
  color: #333;
}

.seller-name {
  font-weight: 100;
}

.seller-name a {
  text-decoration: none;
  color: #777;
}

.seller-name a:hover {
  color: #F2CE60;
}

.pagination-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-by-wrapper {
  margin-left: auto;
  padding-right: 40px;
}

.pagination {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.pagination li {
  display: inline-block;
  margin: 0 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  color: black;
}

.pagination .active {
  border-radius: 5px;
  background-color: #fff3ce;
}

.pagination .button {
  border-radius: 5px;
}

.pagination .button:hover {
  background-color: #fff3ce;
  cursor: pointer;
}

.pagination a {
  text-decoration: none;
  color: black;
}

.pagination li:hover {
    border-radius: 5px;
    background-color: #fff3ce;
    cursor: pointer;
}


/************ item details slider **********/
.pgwSlider {
    width: 100%;
    color: #fff;
}

.pgwSlider a{
    display: block;
    text-decoration: none;
    color: #fff;
}

.pgwSlider .ps-current {
    float: left;
    width: 74%;
    overflow: hidden;
    height: inherit;
    position: relative;
    font-size: 1rem;
}

.pgwSlider.listOnTheLeft .ps-current {
    float: right;
}

.pgwSlider .ps-current ul {
    width: 100%;
}

.pgwSlider .ps-current li {
    width: 100%;
    z-index: 1;
    opacity: 0;
    display: none;
}

.pgwSlider .ps-current img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-caption {
    position: absolute;
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    left: 0;
    bottom: 0;
    display: none;
    z-index: 3;
}

ul.pgwSlider,
.pgwSlider  ul {
    float: right;
    width: 25%;
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.pgwSlider.listOnTheLeft,
.pgwSlider.listOnTheLeft > ul {
    float: left;
}

ul.pgwSlider > li,
.pgwSlider > .ps-list > li {
    height: 50px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-size: 0.8rem;
    transition: opacity 200ms linear;
}

ul.pgwSlider > li:last-child,
.pgwSlider > ul > li:last-child {
    margin-bottom: 0;
}

ul.pgwSlider > li span,
.pgwSlider > .ps-list > li span {
    display: block;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul.pgwSlider > li:hover,
.pgwSlider > ul > li:hover {
    opacity: 1 !important;
}

ul.pgwSlider > li img,
.pgwSlider > ul > li img {
    width: 100%;
    display: block;
    transition: margin-top 250ms linear;
}

.pgwSlider .ps-prevIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    display: block;
}

.pgwSlider .ps-nextIcon {
    border-color:transparent #fff transparent;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    display: block;
}

.pgwSlider .ps-current .ps-prev {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    position: absolute;
    padding: 20px 20px 20px 17px;
    left: 0;
    top: 45%;
    cursor: pointer;
}

.pgwSlider .ps-current .ps-next {
    background: rgba(0, 0, 0, 0.5);
    filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#99000000', endColorstr='#99000000')";
    border: 1px solid #777;
    border-right: 0;
    border-radius: 4px 0 0 4px;
    position: absolute;
    padding: 20px 17px 20px 20px;
    right: 0;
    top: 45%;
    cursor: pointer;
}

/*
 * The media-queries are not used because IE8 doesn't support them.
 */
ul.pgwSlider.wide > li,
.pgwSlider.wide > ul > li {
    width: 100% !important;
}

.pgwSlider.narrow .ps-current {
    margin-bottom: 6px;
    font-size: 0.8rem;
}

.pgwSlider.narrow .ps-current img {
    width: 100%;
    min-height: inherit;
}

.pgwSlider.narrow .ps-current,
ul.pgwSlider.narrow,
.pgwSlider.narrow > ul {
    width: 100%;
}

ul.pgwSlider.narrow > li,
.pgwSlider.narrow > .ps-list > li {
    float: left;
    min-height: 50px;
    max-height: 70px;
    min-width: 15%;
    font-size: 0.7rem;
    margin-bottom: 0;
}

ul.pgwSlider.narrow.listOnTheLeft > li,
.pgwSlider.narrow.listOnTheLeft > ul > li {
    float: right;
}

.pgwSlider.narrow .ps-caption {
    padding: 8px;
}

.pgwSlider.narrow .ps-current .ps-prev {
    padding: 15px 15px 15px 12px;
    top: 40%;
}

.pgwSlider.narrow .ps-current .ps-next {
    padding: 15px 12px 15px 15px;
    top: 40%;
}

/************ Not logged in *************/
.not-logged-in-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -86px;
}

.not-logged-in-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -100px;
}

.not-logged-in-body img {
  border-radius: 125px;
}

.not-logged-in-title {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 30px;
  margin: 30px 0;
  text-align: center;
  line-height: 40px;
}

.not-logged-in-link-wrapper {
  font-size: 20px;
}

.not-logged-in-link-wrapper a {
  color: #F2CE60;
  text-decoration: none;
}

.not-logged-in-link-wrapper a:hover {
  text-decoration: underline;
}

/********** my offers ****************/
.my-offers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.my-offers-body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
}

.my-offers-list-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.my-offers-list-item-wrapper-link {
  width: 100%;
  text-decoration: none;
  color: #333;
  padding: 15px 10px;
  border-bottom: 1px solid #e6e6e6;
}

.my-offers-list-item-wrapper-link:hover {
  background: #f9f9f9;
  cursor: pointer;
}

.my-offers-title-wrapper {
  display: flex;
  align-items: center;
  font-family: 'Archivo Black', sans-serif;
  font-weight: 600;
  color: #333;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.my-offers-title {
  margin-right: 20px;
}

.offer-received a, .offer-placed a {
  text-decoration: none;
  color: #333;
}

.offer-received a:hover, .offer-placed a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.my-offers-my-item-wrapper {
    display: flex;
    flex-direction: column;
}

.my-offers-item-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.my-offers-my-item-title {
  font-family: 'Archivo Black', sans-serif;
}

.my-offers-my-item-title span {
  font-family: 'Questrial', sans-serif;
}

.my-offers-offered-wrapper {
  display: flex;
  flex-direction: column;
}

.my-offers-offer-images-wrapper {
  display: flex;
  justify-content: flex-end;
}

.my-offers-offer-cash-wrapper {

}


.my-offers-offer-images {
  display: flex;
  width: 75px;
  height: 75px;
  margin-left: 5px;
  overflow: hidden;
  justify-content: flex-end;
}

.my-offers-offer-images2 {
  display: flex;
  width: 75px;
  height: 75px;
  margin-right: 5px;
  overflow: hidden;
  justify-content: flex-end;
}

.my-offers-offer-person-name {
  text-align: right;
}
